# Jagwinder Singh

## Complete the notebook

## Joining and Merging Dataframes

1) Enter imports:

In [18]:
import pandas as pd

2) Load data into dataframes:

In [19]:
df_1 = pd.DataFrame({'HPI':[80,85,88,85],
                    'Interest_rate':[2, 3, 2, 2],
                    'US_GDP_Thousands':[50, 55, 65, 55]},
                   index = [2001, 2002, 2003, 2004])

df_2 = pd.DataFrame({'HPI':[80,85,88,85],
                    'Interest_rate':[2, 3, 2, 2],
                    'US_GDP_Thousands':[50, 55, 65, 55]},
                   index = [2005, 2006, 2007, 2008])

df_3 = pd.DataFrame({'HPI':[80,85,88,85],
                    'Unemployment':[7, 8, 9, 6],
                    'Low_tier_HPI':[50, 52, 50, 53]},
                   index = [2001, 2002, 2003, 2004])

## Merge

3) Write the code that merges DataFrames 1 and 3 on the 'HPI, column then display the results:

In [20]:
print(pd.merge(df_1,df_3, on='HPI'))

   HPI  Interest_rate  US_GDP_Thousands  Unemployment  Low_tier_HPI
0   80              2                50             7            50
1   85              3                55             8            52
2   85              3                55             6            53
3   85              2                55             8            52
4   85              2                55             6            53
5   88              2                65             9            50

4) Write the code that merges DataFrames 1 and 2 on the 'HPI' and 'Int_rate' columns then display the results:

In [21]:
print(pd.merge(df_1,df_2, on=['HPI','Interest_rate']))

   HPI  Interest_rate  US_GDP_Thousands_x  US_GDP_Thousands_y
0   80              2                  50                  50
1   85              3                  55                  55
2   88              2                  65                  65
3   85              2                  55                  55

5) Write the code that merges DataFrames 1 and 3 on the 'HPI' column and set the 'HPI' as the index into a new Dataframe. Display the results:

In [22]:
df_4 = pd.merge(df_1,df_3, on='HPI')
df_4.set_index('HPI', inplace=True)
print(df_4)

     Interest_rate  US_GDP_Thousands  Unemployment  Low_tier_HPI
HPI
80               2                50             7            50
85               3                55             8            52
85               3                55             6            53
85               2                55             8            52
85               2                55             6            53
88               2                65             9            50

## Join

6) Write the code that sets the column 'HPI' of both DataFrames 1 and 3 as the index. Display the results:

In [23]:
df_1.set_index('HPI', inplace=True)
df_3.set_index('HPI', inplace=True)
print(df_1)
print(df_3)

     Interest_rate  US_GDP_Thousands
HPI
80               2                50
85               3                55
88               2                65
85               2                55
     Unemployment  Low_tier_HPI
HPI
80              7            50
85              8            52
88              9            50
85              6            53

7) Join the Dataframes 1 and 3 into a new DataFrame and display the results:

In [24]:
joined = df_1.join(df_3)
print(joined)

     Interest_rate  US_GDP_Thousands  Unemployment  Low_tier_HPI
HPI
80               2                50             7            50
85               3                55             8            52
85               3                55             6            53
85               2                55             8            52
85               2                55             6            53
88               2                65             9            50

8) Why do you need to set and index before joining dataframes?

--> When they share an index its easier for the dataframes to join and see if there is redundant information present

9) Load the updated data into dataframes 1 and 3:

In [25]:
# data update
df1 = pd.DataFrame({
                    'Year':[2001, 2002, 2003, 2004],
                    'Int_rate':[2, 3, 2, 2],
                    'US_GDP_Thousands':[50, 55, 65, 55]                    
                    })

df3 = pd.DataFrame({
                    'Year':[2001, 2003, 2004, 2005],
                    'Unemployment':[7, 8, 9, 6],
                    'Low_tier_HPI':[50, 52, 50, 53]
                    })

##  More Merging

10) Merge DataFrames 1 and 3 on the column 'Year' into a new DataFrame then print the new DataFrame:

In [27]:
merged = pd.merge(df1,df3, on='Year')
print(merged)

   Year  Int_rate  US_GDP_Thousands  Unemployment  Low_tier_HPI
0  2001         2                50             7            50
1  2003         2                65             8            52
2  2004         2                55             9            50

11) Set the column 'Year' as the index in the new DataFrame then print the results

In [28]:
merged = pd.merge(df1,df3, on='Year') 
merged.set_index('Year', inplace=True) 
print(merged)

      Int_rate  US_GDP_Thousands  Unemployment  Low_tier_HPI
Year
2001         2                50             7            50
2003         2                65             8            52
2004         2                55             9            50

12) Why is 2002 and 2005 missing?

--> When you merge data if the years don't match by default it will omit them

### Merging Choices
### Example 1

13) Merge DataFrames 1 and 3 on 'Year' into a new DataFrame (merge on df1 indexes - to the left):

In [30]:
merged = pd.merge(df1,df3, on='Year', how='left')

14) In the new DataFrame set the column 'Year' as the index permenately:

In [31]:
merged.set_index('Year', inplace=True)

15) Print the new DataFrame:

In [32]:
print(merged)

      Int_rate  US_GDP_Thousands  Unemployment  Low_tier_HPI
Year
2001         2                50           7.0          50.0
2002         3                55           NaN           NaN
2003         2                65           8.0          52.0
2004         2                55           9.0          50.0

### Example 2

16) Merge DataFrames 1 and 3 on 'Year' into a new DataFrame (merge on df3 indexes - to the right):

In [33]:
merged = pd.merge(df1,df3, on='Year', how='right')

17) In the new DataFrame set the column 'Year' as the index permenately

In [34]:
merged.set_index('Year', inplace=True)

18) Print the new DataFrame

In [35]:
print(merged)

      Int_rate  US_GDP_Thousands  Unemployment  Low_tier_HPI
Year
2001       2.0              50.0             7            50
2003       2.0              65.0             8            52
2004       2.0              55.0             9            50
2005       NaN               NaN             6            53

### Example 3

19) Merge DataFrames 1 and 3 on 'Year' into a new DataFrame (merge on all of the keys - All years represented):

In [36]:
merged = pd.merge(df1,df3, on='Year', how='outer')

20) In the new DataFrame set the column 'Year' as the index permenately

In [37]:
merged.set_index('Year', inplace=True)

21) Print the new DataFrame

In [38]:
print(merged)

      Int_rate  US_GDP_Thousands  Unemployment  Low_tier_HPI
Year
2001       2.0              50.0           7.0          50.0
2002       3.0              55.0           NaN           NaN
2003       2.0              65.0           8.0          52.0
2004       2.0              55.0           9.0          50.0
2005       NaN               NaN           6.0          53.0

### Example 4

22) Merge DataFrames 1 and 3 on 'Year' into a new DataFrame (merge where the keys intersect - Default setting)

In [39]:
merged = pd.merge(df1,df3, on='Year', how='inner')

23) In the new DataFrame set the column 'Year' as the index permenately

In [40]:
merged.set_index('Year', inplace=True)

24) Print the new DataFrame

In [41]:
print(merged)

      Int_rate  US_GDP_Thousands  Unemployment  Low_tier_HPI
Year
2001         2                50             7            50
2003         2                65             8            52
2004         2                55             9            50

## More Joining

25) Set the index for Dataframe 1 and 3 to 'Year':

In [42]:
df1.set_index('Year', inplace=True) 
df3.set_index('Year', inplace=True)

26) Print Dataframes 1 and 3:

In [43]:
print(df1)
print(df3)

      Int_rate  US_GDP_Thousands
Year
2001         2                50
2002         3                55
2003         2                65
2004         2                55
      Unemployment  Low_tier_HPI
Year
2001             7            50
2003             8            52
2004             9            50
2005             6            53

### Joining Choices
### Example 1

27) Join DataFrames 1 and 3 into a new DataFrame (merge on df1 indexes - to the left):

In [44]:
joined = df1.join(df3, how="left")

28) Print the new DataFrame:

In [45]:
print(joined)

      Int_rate  US_GDP_Thousands  Unemployment  Low_tier_HPI
Year
2001         2                50           7.0          50.0
2002         3                55           NaN           NaN
2003         2                65           8.0          52.0
2004         2                55           9.0          50.0

### Example 2

29) Join DataFrames 1 and 3 into a new DataFrame (merge on df1 indexes - to the right):

In [46]:
joined = df1.join(df3, how="right")

30) Print the new DataFrame:

In [47]:
print(joined)

      Int_rate  US_GDP_Thousands  Unemployment  Low_tier_HPI
Year
2001       2.0              50.0             7            50
2003       2.0              65.0             8            52
2004       2.0              55.0             9            50
2005       NaN               NaN             6            53

### Example 3

31) Join DataFrames 1 and 3 into a new DataFrame (join on all of the keys - All years represented):

In [48]:
joined = df1.join(df3, how="outer")

32) Print the new DataFrame:

In [49]:
print(joined)

      Int_rate  US_GDP_Thousands  Unemployment  Low_tier_HPI
Year
2001       2.0              50.0           7.0          50.0
2002       3.0              55.0           NaN           NaN
2003       2.0              65.0           8.0          52.0
2004       2.0              55.0           9.0          50.0
2005       NaN               NaN           6.0          53.0

### Example 4

33) Join DataFrames 1 and 3 into a new DataFrame (merge where the keys intersect - Default setting):

In [50]:
joined = df1.join(df3, how="inner")

34) Print the new DataFrame:

In [51]:
print(joined)

      Int_rate  US_GDP_Thousands  Unemployment  Low_tier_HPI
Year
2001         2                50             7            50
2003         2                65             8            52
2004         2                55             9            50